body {
}

/*
 * Project:     myChild
 * Description: Update parents on child's progress via SMS
 * Website:     http://ezraezraezra.com/mt/myChild
 * 
 * Author:      Ezra Velazquez
 * Manager:     Lyel Resner
 * Website:     http://ezraezraezra.com
 * Date:        December 2011
 * 
 */

#button_submit {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50px;
	background-color: #A52A2A;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
}
#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100%;
	background-color: green;
	font-family: "Lucida Grande";
}
#container_top {
	position: relative;
	width: 800px;
	height: 70px;
	background-color: #C0C0C0;
	text-align: center;
}
#header_text {
	font-size: 36px;
}
#container_middle {
	position: relative;
	width: 800px;
	height: 360px;
	background-color: white;
}
#container_form {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 800px;
	height: 420px;
}
#container_form_left {
	position: relative;
	float: left;
	width: 400px;
	height: 350px;
}
#container_form_right {
	position: relative;
	float: right;
	width: 400px;
	height: 350px;
}
.container_entry {
	width: 100%;
	height: 40px;
	line-height: 40px;
}
#user_number {
	margin-top: 5px;
	width: 90%;
	height: 20px;
	font-size: 16px;
}
#user_student_id {
	margin-top: 5px;
	width: 90%;
	height: 20px;
	font-size: 16px;
}
.container_options {
	position: relative;
	width: 400px;
}
.user_options {
	position: relative;
	float: left;
	width: 170px;
	padding: 10px;
	text-align: center;
	margin: 3px;
	background-color: #C0C0C0;
	cursor: pointer;
}
