body {
}

/*
 * Project:     myChild
 * Description: Update parents on child's progress via SMS
 * Website:     
 * 
 * Author:      Ezra Velazquez
 * Website:     http://ezraezraezra.com
 * Date:        December 2011
 * 
 */

#container {
	position: relative;
	width: 1129px;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: grey;
	font-family: "Lucida Grande";
	font-size: 14px;
	text-align: center;
}
#container_header {
	position: relative;
	width: 1129px;
	height: 100px;
	background-color: purple;
}
#container_top {
	position: relative;
	width: 1129px;
	height: 30px;
	background-color: green;
}
#container_middle {
	
}
#container_bottom {
	
}
#button_save {
	position: relative;
	float: right;
	width: 70px;
	height: 40px;
	background-color: brown;
	line-height: 40px;
	top: 30px;
	right: 30px;
	cursor: pointer;
}
.table_header {
	position: relative;
	width: 94px;
	float: left;
	line-height: 30px;
}
.table_row {
	position: relative;
	width: 1129px;
	height: 50px;
}
.table_entry {
	position: relative;
	width: 94px;
	float: left;
	line-height: 50px;
	cursor: pointer;
}
#view_status {
	position: relative;
	float: right;
	width: 200px;
	height: 40px;
	background-color: green;
	line-height: 40px;
	top: 30px;
	right: 30px;
}
#phase_one {
	position: relative;
	display: block;
	width: 1129px;
	height: 400px;
	background-color: brown;
}
#login_screen {
	position: relative;
	top: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 250px;
	background-color: #01A2A6;
	text-align: center;
	padding-top: 30px;
}
#login_header {
	position: relative;
	font-size: 24px;
	top: 40px;
}
#button_login {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 150px;
	height: 50px;
	background-color:#008000;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
}
#login_teacher {
	position: relative;
	font-size: 16px;
}
#login_pin {
	position: relative;
	font-size: 16px;
}
#phase_two {
	position: relative;
	display: none;
}
#class_picker {
	position: relative;
	width: 500px;
	height: 50px;
	background-color: #2489CE;
	margin-left: 40px;
	top: 25px;
}
.button_class {
	position: relative;
	float: left;
	width: 100px;
	height: 50px;
	margin-right: 2px;
	background-color:#44996F;
	line-height: 45px;
	cursor: pointer;	
}
