body {
}

#container {
	position: relative;
	width: 1129px;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: grey;
	font-family: "Lucida Grande";
	font-size: 14px;
	text-align: center;
}
#container_header {
	position: relative;
	width: 1129px;
	height: 100px;
	background-color: purple;
}
#container_top {
	position: relative;
	width: 1129px;
	height: 30px;
	background-color: green;
}
#container_middle {
	
}
#container_bottom {
	
}
#button_save {
	position: relative;
	float: right;
	width: 70px;
	height: 40px;
	background-color: brown;
	line-height: 40px;
	top: 30px;
	right: 30px;
	cursor: pointer;
}
.table_header {
	position: relative;
	width: 94px;
	float: left;
	line-height: 30px;
}
.table_row {
	position: relative;
	width: 1129px;
	height: 50px;
}
.table_entry {
	position: relative;
	width: 94px;
	float: left;
	line-height: 50px;
	cursor: pointer;
}
#view_status {
	position: relative;
	float: right;
	width: 200px;
	height: 40px;
	background-color: green;
	line-height: 40px;
	top: 30px;
	right: 30px;
}
